body{
    background: #2C3E50;
}
h2,h3{
    color: white;
}

.navbar-title {
    display: inline;
}

.navbar-logo {
    margin: 8px 10px 0 50px;
}

.border-radius {
    background-color: white;
    height: 90vh;
    width: 100vh;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
}